Makefile.in
Makefile
configure
build-aux
autom4te.cache
aclocal.m4
build
config.log
config.status
README
NEWS
*.tar.gz
*.tar.bz2
*~
a.out
foo*
*.bak
_*
*.o
*.s0
*.t.c
*.t.cc
*.t.utc
*.t.s
*.iu
*.i
*.ii
*.log
*.s
*.[0-9][0-9][0-9]t.*
data
fdata
